
BODY {
  background: #808080;
  color: black;
}

.paperBody {
  background: #ECECEC;
  color: black;
  font-size:12pt;
  text-align: justify;
  font-family: serif;
}


div.header H1 { 
  font-size: 14pt; 
  margin-left: 10%;
  margin-right: 20%;
  margin-top: 10px;
  margin-bottom: 10px;
  color: black; 
  font-family: serif;
  text-align: center;
}

div.header H2 { 
  font-size: 12pt; 
  margin-left: 10%;
  margin-right: 20%;
  font-weight: medium;
  color: black; 
  font-family: serif;
  text-align: left;
}
div.header H3 { 
  font-size: 12pt;
  margin-left: 5%;
  margin-right: 10%;
  color: black; 
  font-family: serif;
  font-style: italic;
  text-align: left;
}


div.abstract P { 
  font-size: 10pt; 
  margin-left: 5%;
  margin-right: 10%;
  color: black; 
  font-family: sans-serif;
  text-align: justify;
}

div.abstract H2 { 
  font-size: 12pt; 
  margin-left: 5%;
  margin-right: 10%;
  font-weight: medium;
  color: black; 
  font-family: sans-serif;
  text-align: left;
}


